*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body{
    background: rgb(238,174,202);
    background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
    display: flex;
    flex-direction: column;
    align-content: center;
    width: 100vw; 
    height: 100vh; 
    justify-content: flex-end;



}

header{
    display: flex;
    /* background-color: blue; */
    width: 30%;
    height: 10%;
    align-items: center;
    
}
#msn{
    font-size: 2.3rem;
    height: 3.2rem;
    margin-right: .6rem;
    /* background-color: red; */
    
    
}

main {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    
}


img{
    
    border: 1px solid #000;
    width: 10%;
    border-radius: 2rem;
    margin-bottom: 1rem;
}

form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;

    .up {
        margin-top: .5rem;
        display: flex;
        flex-direction: column;
        width: 17.3%;
    }
    
    .dwn {
        margin: .5rem;
        width: 17.3%;
        display: flex;
        flex-direction: column;
    }

    
}

input {
    outline: none;
}

.fn {
    display: flex;
    width: fit-content;
    flex-direction: row;
}

.check {
    display: flex;
    flex-direction: column;
    
    label {
        margin-top: .5rem;
    }

}

button {
    margin: 1rem;
    padding: 5px;
    width: 6rem;
    border-radius: 3px;
    background: rgb(238,174,202);
background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
}