*{
    margin: 0;
    padding: 0;
}

body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid #000;
    width: 40rem;
}
form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

footer{
    background-color: red;
   
}

#cabecera{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#PrimerDiv{
    display: flex;
    
    /* flex-direction: column; */
    justify-content: center;
    align-items: center;
}

#PrimerDiv > input {
    margin: .5rem;
}
#CuartoDiv > input{
    margin: .5rem;
   
}
#TercerDiv > label > input{
    margin: 1rem;
    border: 1px solid #000;
    
}


#SegundoDiv > label > input{
    display: flex;
    /* flex-direction: column; */
    justify-content: center;
    align-items: center;
}



#CuartoDiv{
    display: flex;
    /* flex-direction: column; */
    justify-content: center;
    align-items: center;
}
